audio{
    display: none;
}
.Results{
    position: fixed;
    width: 100vw;
}
li{
    list-style: none;
    text-align: left;
    margin-bottom: 15px;
}
.Controls{
    height: 25vh;
    background-color:rgb(18,28,37);   
    color: silver;
    border-style: none;
    border-radius: 2%;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 5px;
    margin-right: 5px;
}
.Controls h1{
    font-size: 15px;
    padding: 10px;
}
.Controls ul{
    display: flex;
    margin-left: 35%;
}
.Controls li{
    margin-bottom: 0px;
    padding-left:  10px;
    padding-right: 10px;
    font-size: 15px;
}
.Controls p{
    font-size: 15px;
    padding: 10px;
}
.Divider{
    background-color: black;
    height: 1vh;
}
.List{
    position: absolute;
    height: calc(69vh);
    /* height: 70vh; */
    width: 100%;
    overflow-y: auto;
}

.Item{
    display: flex;
    margin: 5px;
    background-color:rgb(18,28,37);    
    color: silver;
    border-style: none;
    border-radius: 2%;
    cursor: pointer;
}
.Item img{
    margin-left: 5px;
    margin-top: 5px;
}
.Item:hover .Item:focus .Item:active{
    border-style: solid;
    border-color: silver;
}
.Item li{
    margin-top: 5px;
    padding-left: 10px;
}
.Item p{
    padding-left: 10px;
}
@media screen and (max-height: 550px) {
    .Controls {
        display: none;
    }

    .Search{
        height: 15vh !important; 

    }
    .Search_Form{
        height: 15vh !important; 
        margin-bottom: 5px;

    }
    .Search_Form li{
        margin-top: 3vh !important;
    }
    .Divider{
        display: none;
    }
    .List{
        height: calc(85vh);
    }


}